body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    position: static ;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 3vw;
    padding-top: 5vh;
}

header p{
    padding-bottom: 5vh;
}


#artworks{
    height:50vh;
    width:30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}


#artworks img {
    height: 50vh;
    width: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Smooth fade-in and fade-out */
    padding-bottom: 5vh;
}

#artworks:hover img {
    opacity: 1; /* Fade in on hover */
}


#artworks p{
   text-align: left; 
   align-self: flex-start;
}



/*vamos por uma animacao hover pra dar uncover da imagem slay*/

  