* {
    margin: 0;
}

html {
    background: rgb(20, 20, 20);
    font-family: "Helvetica"; /*por substituta*/
    overflow-x:hidden
}

h1, h2, p, a{
    color: #eee;
}

a {
    position: relative;
    font-size: 2vw;
  
    text-decoration: none;
  }
  
  a::after {
    content: "";
    background: white;
  
    position: absolute;
    left: 0;
    bottom: -5px;
  
    height: 5px;
    width: 40%;
  
    transition: width 0.3s ease;
  }
  
  a:hover::after {
    width: 90%;
  }
  
  nav{
    position: fixed;
    width: 100vw;
  
    display: flex;
    justify-content: center;
    padding: 2vh 0 2vh 0;
    gap: 50%;
  }

  .randomBackground {
    background-color: white;
    color:rgb(21, 13, 61);
    font-size: 100%;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 50vw;
    text-decoration: none;
    transition: width 0.5s ease;
    margin-bottom: 10vh;
  }
  
  .randomBackground:hover{
    width:100vw;
    transition: width 0.3s ease;
  }