body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    color:#eee;
  }
  
  #paintCanvas {
    border: 50px solid #b9ae7d;
    border-style: ridge;
    border-radius: 20px;
  }

