nav {
  background-color: rgb(20, 20, 20);
  position: fixed;
  width: 100vw;

  display: flex;
  justify-content: center;
  padding: 2vh 0 2vh 0;
  gap: 50%;
}

.top, .explore, .draw{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}


.top {
  align-items: center;
  justify-content: flex-end;
}


h1 {
  font-size: 16vw;
  animation: enter 0.5s ease-in;
}

.explore, .draw {
  padding: 10vh 0 0 2vw;
}

.explore {
  background-image:url("images/art2.webp") ;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit:fill;

  align-items: start;
  justify-content: flex-start;
}

h2{
  padding: 1vh 0 2vh 0;
  font-size: 5vw;
}

p{
  width:75vw;
  font-size: 2vw;
}

.explore h2, .explore p {
  text-shadow: rgb(0, 0, 0) 5px 0 10px;
}

.draw{
  height:35vh;

  align-items: start;
  justify-content: flex-start;
}


/* Define the style of the cursor trail */
.line {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(73, 182, 201);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.7s ease, transform 0.7s ease;
}


@keyframes enter {
  0% {
    opacity: 0;
    margin-bottom: -40vh;
  }70%{
    opacity: 0.1;
  }100% {
    opacity: 1;

  }
}
